@font-face{font-family:'Gotham';src:url('../assets/fonts/Gotham Book.otf');font-style:normal;font-weight:normal}
@font-face{font-family:'Gotham';src:url('../assets/fonts/Gotham Rounded Light Italic.otf');font-style:italic;font-weight:400}
@font-face{font-family:'Gotham';src:url('../assets/fonts/GothamBold.otf');font-style:normal;font-weight:bold}
@font-face{font-family:'Gotham';src:url('../assets/fonts/GothamBold Italic.otf');font-style:italic;font-weight:bold}
@font-face{font-family:'Gotham';src:url('../assets/fonts/Gotham-Medium.otf');font-style:normal;font-weight:500}
@font-face{font-family:'Gotham';src:url('../assets/fonts/Gotham Medium Italic.ttf');font-style:italic;font-weight:500}
*,::after,::before{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
body{font-size:.75em;margin:0;font-family:"Gotham", Georgia, serif;color:#1D1D1B;}
h1, h2, h3{font-family:'Gotham';text-transform:uppercase}
h1{font-style:normal;font-weight:bold;font-size:3.563em;line-height:1.2}
h2{font-size:1.750em;font-style:normal;font-weight:500}
h3{font-size: 1.375rem;font-style:normal;font-weight:500;}
p{font-size:1em;font-weight:normal;font-style:normal;line-height:1.5;}
label{font-size:1.188em;font-weight:normal;font-style:normal;line-height:1.2}
a{font-family:'Gotham' !important;font-size:1.063em;font-style:normal;font-weight:500;color:#1d1d1b;cursor:pointer;}
b{font-size:1.250em;font-style:italic;font-weight:bold;color:inherit}
em{font-size:1.188em;font-style:normal;font-weight:500;color:inherit}
strong{font-style:normal;font-weight:500}
span{font-size:1rem;font-style:normal;font-weight:500;font-weight:bold;}
/* span[lang="da"], span[lang="en"]{font-size:inherit;font-style:inherit;font-weight:inherit;color:inherit;} */
div{display:block;}
hr{border-top: 2px solid #1d1d1b;}
blockquote p{font-size:1.250rem;font-style:italic;font-weight:400;color:#000100}
blockquote footer{font-size:1rem;font-style:normal;font-weight:500;color:#000100}
blockquote p::before{content:open-quote;font-weight:500;font-size: 1.6rem}
blockquote p::after{content:close-quote;font-weight:500;font-size: 1.6rem}
body .heading{font-size:0.9em}
body .important{font-style:italic;font-weight:bold;line-height:1.2;font-size:2.9em;padding:8px 0}
body .hero{font-size:.8em}
.label{font-size:.85rem;}
.pre{white-space: pre-line;}
.global, .main{position:relative;background:#fff}
.global{z-index:11}
.main{z-index:10}
.container-all{width:100%;overflow:hidden}
.my-container{max-width:1216px;padding:0 24px;margin:0 auto;}
.my-container.large{padding:0;max-width:1350px;}
.my-container.left{padding-left:0;}
.break-small{float:left;margin-top: 10px;margin-left: -58px;width: 50px;}
.break-large{float:left;margin-top:30px;margin-left:-60px;width:55px}
.my-button{font-weight:500}
a:hover, a:focus{text-decoration:none}
.my-button:focus .my-button.vertical{float:left;bottom:0;right:0;padding:10px 0;transform-origin:unset;transform:unset;-ms-transform-origin:unset;-webkit-transform-origin:unset;-ms-transform:unset;-webkit-transform:unset}
.my-button-text{padding:0;line-height:1.5;background:0 0;color:#000;position:relative;}
.my-button-text::before{content:"";position:absolute;bottom:0;left:0;right:100%;border-bottom:2px solid #333;-webkit-transition:right .5s ease-out;transition:right .5s ease-out;}
.my-button-text.light::before{border-color:#fff}
.my-button-text.dark::before{border-color:#333}
.my-button-text:focus, .my-button-text:hover{color:#333}
.my-button-text:focus::before, .my-button-text:hover::before{right:0}
.blend{background-color:#fff;background-blend-mode:multiply;mix-blend-mode:multiply}
.box{margin-left:0;}
.logo{padding:0;}
.logo img{width:95px;}
.language ul{margin:10px 0;}
.home .language ul li a{color:#fff!important}
.home .my-navbar.uk-active .language ul li a{color:#000!important}
.home .my-navbar .language ul li a.en[lang="en"],.home .hero .language ul li a.en[lang="en"],.home .my-navbar .language ul li a.da[lang="da"],.home .hero .language ul li a.da[lang="da"]{border-radius: 10%;width: 30px;height: 20px;padding:0px 4px;font-weight: bold;color: #000!important;background-color: #fff}
.home .language .uk-breadcrumb>:nth-child(n+2)::before{color:#fff}
.my-navbar .language ul li a.en[lang="en"],.my-navbar .language ul li a.da[lang="da"]{border-radius: 10%;width: 30px;height: 20px;padding:0px 4px;font-weight: bold;color: #fff!important;background-color: #000}
.home .my-navbar.uk-active .language ul li a.en[lang="en"],.home .my-navbar.uk-active .language ul li a.da[lang="da"]{border-radius: 10%;width: 30px;height: 20px;padding:0px 4px;font-weight: bold;color: #fff!important;background-color: #000}
.home .my-navbar-nav>li>a{color:#fff;}
.home .my-navbar-nav>li>a::before{border-color:#fff;}
.home .my-navbar .logo.light{display:inherit}
.home .my-navbar .logo.dark{display:none}
.home .my-navbar{z-index:10;background-color:transparent;}
.language ul li a{color:#000!important}
.language .uk-breadcrumb>:nth-child(n+2)::before{content:"|";display:inline-block;margin:0 10px;color:#fff}
.language .uk-breadcrumb>:nth-child(n+2)::before{color:#000}
.my-navbar,.home .my-navbar{height:95px}
.my-navbar.uk-active .logo.light{display:none!important}
.my-navbar.uk-active .logo.dark{display:inherit!important}
.my-navbar.uk-active{position:relative !important; background-color:#fff!important}
.my-navbar.uk-active{position:relative !important; background-color:#fff!important}
.my-navbar.uk-active .my-navbar-nav>li>a{color:#000!important}
.my-navbar.uk-active .my-navbar-nav>li>a::before{border-color:#000!important}
.my-navbar-nav>li{padding:0 15px}
.my-navbar-nav>li>a{position:relative;font-style:normal;font-weight:500;font-size:1.063em;color:#000;padding:0;}
.my-navbar-nav>li>a:hover{text-decoration:none;}
.my-navbar-nav>li>a::before{content:"";position:absolute;bottom:35%;left:0;right:100%;border-bottom:2px solid #333;-webkit-transition:right .5s ease-out;transition:right .5s ease-out;}
.my-navbar-nav>li>a:focus::before, .my-navbar-nav>li>a:hover::before{right:0;}
.my-navbar-nav>li.active>a::before{width:100%;left:0;border:1px solid #000100;}
.my-navbar .uk-navbar-center:only-child{margin-left:0;position:initial;}
.my-navbar .uk-navbar-right{position:absolute;right:0;top:50%;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%)}
.overlay{position:fixed;background:#1d1d1b;top:0;left:0;width:100%;height:100%;opacity:0;visibility:hidden;transition:opacity .35s, visibility .35s, height .35s;overflow:hidden;}
.overlay.open{opacity:1;visibility:visible;height:100%; z-index: 11;}
.overlay .logo{position:absolute;left:0;top:0;margin-top:2%;margin-left:7%;}
.overlay .close-menu{position:absolute;right:0;top:0;margin-top:5%;margin-right:6%;}
.overlay nav{position:relative;height:50%;top:50%;transform:translateY(-50%);font-size:30px;text-transform:uppercase;text-align:center;letter-spacing:10px;}
.overlay ul{list-style:none;padding:0;margin:0 auto;display:inline-block;position:relative;height:100%;}
.overlay ul li{display:block;position:relative;opacity:0;margin-bottom:20px;}
.overlay ul li a{display:inline-block;position:relative;color:#fff!important;text-decoration:none;overflow:hidden;}
.overlay ul li a::after{content:'';position:absolute;top:50%;left:0;width:0;height:3px;background:#fff;transition:.5s;}
.overlay ul > li a:hover::after, .overlay ul li a:focus::after, .overlay ul li.active a::after{width:100%;background:#fff;}
.overlay.open li, .overlay.open .contact{animation:fadeInLeft .5s ease forwards;animation-delay:.35s;}
.overlay.open li:nth-of-type(2){animation-delay:.4s;}
.overlay.open li:nth-of-type(3){animation-delay:.45s;}
.overlay.open li:nth-of-type(4){animation-delay:.50s;}
@keyframes fadeInLeft{0%{opacity:0;right:20%;}
100%{opacity:1;right:0;}
}
.open-menu, .close-menu{cursor:pointer;}
.hero .cover{height:calc(100vh);background-color:#202020;}
.hero .label {height:100%;position:relative;margin:15px;display:inline-block;padding:15px 1em;}
.hero .label h3{text-align:center;}
.hero .label:before, .hero .label:after {content:'';display:block;position:absolute;border-color:#454545;box-sizing:border-box;border-style:solid;width:20px;height:20px;}
.hero .label:before {bottom:0;left:0;border-width:0 0 2px 2px;z-index:5;}
.hero .label:after {top:0;right:0;border-width:2px 2px 0 0;}
.hero .text {padding-bottom:30px;}

.hero .right-panel{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50vw;
  min-height: 100%;
  height: auto;
  text-align: center;
  padding: 47px 70px 40px;
  background: -webkit-linear-gradient(135deg,rgba(255, 255, 255,.93),rgba(229, 229, 229,.93));
  background-image: linear-gradient(135deg,rgba(255, 255, 255,.93),rgba(229, 229, 229,.93));
}
.hero .right-panel .media{
  margin-top: 50%;
}
.hero .right-panel .media img{
  width:500px;
}

.hero .right-panel .social .item{position:relative;margin:0 10px;}
.hero .right-panel .social .item:before, .hero .right-panel .social .item:after {content:'';display:block;position:absolute;box-sizing:border-box;border-style:solid;width: 10px;height: 10px;}
.hero .right-panel .social .item:before {bottom:-3px;left:-3px;border-width:0 0 2px 2px;z-index:5;}
.hero .right-panel .social .item:after {top:-3px;right:-3px;border-width:2px 2px 0 0;}

.operations{background-color:#F7F7F7;}
.operations .panel{border-radius:3px;display:flex;align-items:center;min-height:300px;background:#fff;margin:0 40px;}
.operations .uk-section{background-color: inherit;}
.operations .panel>div{padding-left:40px;padding-right:40px}
.operations .panel .assistance {margin:-30px 0 -30px 0;background:#fff;min-height:360px;padding:100px 0;border-width:2px;border-style: solid;border-color: #454545;position:relative;display:inline-block;}
.operations .panel .assistance:before, .operations .panel .assistance:after {content:'';display:block;position:absolute;border-color:#454545;box-sizing:border-box;border-style:solid;width:15px;height:15px;}
.operations .panel .assistance:before {bottom:-7px;left:-7px;border-width:0 0 2px 2px;z-index:5;}
.operations .panel .assistance:after {top:-7px;right:-7px;border-width:2px 2px 0 0;}
.operations .panel .assistance img {width: 100px;height: 120px}
.operations .info {padding-top:60px;padding-bottom:60px;}
.operations .info h3 {text-align:center;}
.operations .info .label {background-color:#fff;padding:20px 30px;height:100%}



.cost{background-color:#F7F7F7;font-size: .85rem;}
.cost .panel-container{
  width: 100%;
  margin:0 auto;
}
.cost .panel{
  display: flex;
  flex-direction: row;
  height: 450px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  transition: all 300ms ease-in;
  background-color: #fff;
}
.cost .item{
  cursor: pointer;
  position: relative;
  height: auto;
  background-color: #fff;
  background-size: 100%;
  flex-basis: 33.33333%;
  flex: 1 0 118px;
  transition: all 300ms ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.cost .item+.item::after {
  background-color: #000;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  top: 100%;
  transition: all 600ms ease-out 100ms;
  width: 2px;
}

.cost .scrolled .item+.item::after {
   top: 0;
}
.cost .panel-container.normal .item .cover{
  opacity: 1;
  transition-delay: 300ms;
}
.cost .item.close {
    flex-grow: 0;
    flex-basis: 100px;
}
.cost .panel-container.open .cover {
    opacity: 0;
    pointer-events: none;
}
.cost .item .cover{
  transition: all 300ms ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0;
  color: #263645;
  display: block;
  padding: 30px;
  position: absolute;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
}
.cost .item.close .label{
  opacity: 1;
  transition-delay: 300ms;
}
.cost .item .label {
  bottom: 90px;
  left: 50%;
  top: auto;
  transform-origin: left center;
  transform: rotate(-90deg);
  text-transform: uppercase;
  color: #4E4E4E;
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  white-space: nowrap;
  transition: all 300ms ease;
}
.cost .scrolled .item .cover .blurb,.cost .item .cover .blurb{
  opacity: 1;
  transform: translate(-50%, 30px);
}
.cost .item .cover .blurb{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 75px;
  text-align: center;
  left: 50%;
  opacity: 0;
  top: auto;
  transform: translate(-50%, 50px);
  position: absolute;
  transition: all 300ms ease;
  width: 265px;
}
.cost .item .cover:hover .blurb {
  transform: translate(-50%, -20px);
}
.cost .item .cover .title {
  margin-bottom: 10px;
}
.cost .item .cover .subtitle {
  height: 130px;
  display: none;
  opacity: 0;
  padding: 0 5px;
  transition: opacity 300ms ease;
  display: block;
}
.cost .item .cover:hover .subtitle {
   opacity: 1;
}
.cost .scrolled .item:not(.open) .action {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  transition: all 600ms ease-out 100ms;
}
.cost .item .action {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%) translateY(20px);
}
.cost .item.open .action {
  opacity: 0;
}
.cost .panel-container.normal .item .action{
  opacity: 1;
  transition-delay: 300ms;
}
.cost .panel-container.normal .content {
    opacity: 0;
}
.cost .item.open .content {
    opacity: 1;
    transition-delay: 300ms;
}
.cost .content {
  padding:30px;
  bottom: 0;
  left: 0;
  max-width: none;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 300ms ease;
}
.cost .content .nav-secondary li a {
    font-size: 1.8em;
}


.chart.bar p{font-weight:normal;font-size:1.2em;left:0;bottom:0;transform-origin:left;transform:rotate(-90deg);-ms-transform-origin:left;-webkit-transform-origin:left;-ms-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);}
.chart.bar .legend{margin-top:75px;}
.chart.bar .legend span{font-weight:500;font-size:1em;}
.chart.bar .legend li img{padding:4px;width:35px}
.chart.bar .blocks li{display:table-cell;width:130px;height:200px;text-align:center;position:relative;list-style:none;border-bottom:4px solid #1D1D1B;}
.chart.bar .blocks li .block{display:block;width:82px;margin-left:25px;border:2px solid #1d1d1b;border-bottom:0;position:absolute;bottom:0;}
.blocks span{font-weight:normal;font-size:1.188em;color:#1d1d1b;width:100%;position:absolute;bottom:-40px;left:0;text-align:center;}
.blocks span[lang="da"]{bottom:-100px}
.blocks .block.dark{background:#000;}
.blocks .block.light{background:#fff;}
.blocks .block.media{background-image: url(../assets/img/icon/gift-box.svg);background-repeat:no-repeat;background-position:50% 0%;}
.my-slider .item{padding:0 25px;}
.slick-dots li button {display: none}
.slick-dots{position:absolute;width:100%;left:0px;padding:0px;margin:0px;list-style-type:none;text-align:center;}
.slick-dots li{display:inline-block;width:15px;height:15px;background:Transparent;-webkit-transition:all 0.5s;transition:all 0.5s;-webkit-border-radius:50%;border-radius:50%;border:1.5px solid #666;margin:0 2.5px;cursor:pointer;position:relative;}
.slick-dots li.slick-active{background:#666;-webkit-box-shadow:inset 0 0 0 1.5px rgb(255,255,255);box-shadow:inset 0 0 0 1.5px rgb(255,255,255);}
.slick-prev, .slick-next{font-size:0;line-height:0;position:absolute;top:50%;display:block;width:20px;height:20px;padding:0;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%);cursor:pointer;color:transparent;border:none;outline:none;background:transparent;}
.slick-next::before{content:url(../assets/img/icon/next.png);}
.slick-prev::before{content:url(../assets/img/icon/previous.png);}
.slick-prev::before, .slick-next::before{font-size:2rem;color:#1d1d1b;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.partners{background-color:#F7F7F7;}
.social-support .logo img{width:90px;}
.partners img{width:120px;}
.partners img,.social-support .logo img{-webkit-transition: all .3s ease-in-out;filter: gray;-webkit-filter: grayscale(1);}
.partners img:hover,.social-support .logo img:hover{filter: none;-webkit-filter: grayscale(0);}
.sticker p, .sticker h2, .sticker .my-button, .sticker hr, .entrepreneurs hr, .entrepreneurs h2, .entrepreneurs p, .entrepreneurs a.my-button{color:#fff;border-color:#fff;}
.sticker .cover{background-color:#202020;height:505px;}
.sticker .my-button{bottom:0;float:none;}
.entrepreneurs .cover{background-color:#202020;}
.entrepreneurs .box{margin-left:70px;}
.entrepreneurs .cover .my-container{height:100%;}
.entrepreneurs p{font-style:italic;font-weight:bold;font-size:2.625em;}
.steps .blend{background-color:#A6B2C5;background-blend-mode:multiply;mix-blend-mode:multiply}
.steps .cover-1, .steps .cover-2, .steps .cover-3{height:355px;}
.steps .cover-1{background-image:url(../assets/img/decent-work.png);}
.steps .cover-2{background-image:url(../assets/img/quality-education.png);}
.steps .cover-3{background-image:url(../assets/img/profile-to-purpose.png);}
.steps .item-container{padding:20px;}
.steps .item .legend .full{display:unset;}
.steps .item .legend .half{display:none;}
.steps .item:nth-child(1) .icon-item{position: relative;top: 125px}
.steps .item:nth-child(4) .icon-item{position: relative;top: 155px}
.steps .item:nth-child(5) .icon-item img{width:500px;padding:5px 15px}
.footer{font-size:.87em;font-style:normal;font-weight:normal;text-align:center;position:fixed;z-index:0;height:480px;left:0;bottom:0;width:100%;background:#fff;padding:15px;padding-top:0;border:0 solid #fff;border-top:0;transition:border .4s ease, padding .4s ease;}
.footer-spacer{position:relative;z-index:-11;height:480px;pointer-events:none;}
.footer .footer-link{display:block;position:absolute;z-index:2;top:0;left:0;width:100%;height:100%;}
.footer:hover{padding:0;padding-top:0;border:15px solid #000;border-top:0;}
.footer .footer-content{position:fixed;z-index:1;bottom:208px;left:50%;width:100%;transform:translateX(-50%);transition:bottom .4s ease;}
.footer .footer-secondary{position:fixed;z-index:3;left:0;bottom:24px;width:100%;padding:0 30px}
.footer .social{margin:15px 0;}
.social .item a{position:relative;display:block;margin:0px;padding:5px;width:40px;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;}
.social .item a::after, .social .item a::before{width:100%;height:100%;z-index:3;content:'';position:absolute;top:0;left:0;box-sizing:border-box;-webkit-transform:scale(0);transition:0.3s;}
.social .item a::before{border-bottom:2px solid #000;border-left:2px solid #000;-webkit-transform-origin:0 100%;}
.social .item a::after{border-top:2px solid #000;border-right:2px solid #000;-webkit-transform-origin:100% 0%;}
.social .item a:hover::after, .social .item a:hover::before{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
.footer .uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before{content:"|";display:inline-block;margin:0 10px;color:#1d1d1b;}
.story p{font-style:italic;}
.members h3{font-size:1.563em;}
.members img.tag{top:-35%;left:10%;}
.members .portrait{width:300px;height:300px;}
.members .team .member{padding:90px 0;}
.members .board .member{padding:35px 0;}
.nav-secondary{padding:0;}
.nav-secondary li{list-style:none;}
.nav-secondary li a{font-size:2em;font-style:normal;font-weight:bold;line-height:1.2;position:relative;display:inline-block;}
.nav-secondary li:not(.uk-active) a::after{content:'';border-bottom:3px solid;width:100%;position:absolute;right:0;bottom:50%;transition:bottom 0.4s ease-in-out;-webkit-transition:bottom 0.4s ease-in-out;}
.nav-secondary li a:hover, .nav-secondary li a:hover::after{color:inherit;opacity:0.8;bottom:0;}
.cost em{text-decoration:underline;}
.fee ol{counter-reset:item;margin-top:5px;}
.fee ol li{display:block;font-style:normal;font-weight:normal;font-size:1.188em;list-style-type:decimal;list-style-position:inside;padding:1px 0;}
.fee ol li:before{content:counter(item) ". ";counter-increment:item;font-weight:bold;font-style:italic;}

.employee-wage table td {padding:6px;font-size: .75rem;font-weight: 400;}
.employee-wage table th {padding:6px;font-size: .85rem;font-weight: 500;}
.employee-wage table th:not(:last-child),.employee-wage table td:not(:last-child){border-right:2px solid #e5e5e5;}
.employee-wage .info{padding:3px 0;}
.employee-wage .info>p{margin:0}

.payment-process .bubble, .material-cost .bubble{position:relative;top:5%;left:0;}
.payment-process .info, .material-cost .info{width:80%;}
.pies h3{position:relative;float:right;margin:0;right:5%;}
.pies p{font-weight:bold;text-align:center;}
.pies .contain-pie{position:relative;transform:scale(1);height:290px;width:290px;margin:20px;}
.pies .contain-pie::before{content:"";display:block;background-color:#fff;border:1px solid #fff;position:absolute;border-radius:50%;width:290px;height:290px;top:0;left:0;}
.pies .pie-vertical .contain-pie::before{background-image:url(../assets/img/patterns/line-vertical.svg);}
.pies .pie-horizontal .contain-pie::before{background-image:url(../assets/img/patterns/line-horizontal.svg);}
.pies .contain-piece::before{content:" ";position:absolute;width:290px;height:290px;border-radius:145px;clip:rect(0px, 145px, 290px, 0px);background-color:#fff;transform:rotate(0deg);}
.pies .contain-piece{position:absolute;width:290px;height:290px;clip:rect(0px, 290px, 290px, 145px);}
.pies .pie-vertical .piece.contain-piece{transform:rotate(315deg);}
.pies .pie-vertical .piece::before{transform:rotate(0deg);animation:2s pie-vertical linear 1s forwards;}
@keyframes pie-vertical{from{transform:rotate(0deg);}
to{transform:rotate(45deg);}
}
.pies .pie-horizontal .piece.contain-piece{transform:rotate(180deg);}
.pies .pie-horizontal .piece::before{transform:rotate(0deg);animation:2s pie-horizontal-1 linear 1s forwards;}
.pies .pie-horizontal .piece2::before{transform:rotate(0deg);animation:3s pie-horizontal-2 linear 1s forwards;}
@keyframes pie-horizontal-1{from{transform:rotate(0deg);}
to{transform:rotate(180deg);}
}
@keyframes pie-horizontal-2{from{transform:rotate(0deg);}
to{transform:rotate(-10deg);}
}
.contact .error-container{display:none;overflow:auto;background-color:#B0E0E6;border:1px solid #4682B4;padding:15px;margin:120px 0;font-size:.8em;}
.contact label{margin:0 5px;}
.contact input:not(#submit){border:2px solid #1d1d1b;}
.contact input:not(#submit).error{border:1px solid #4682B4;}
.contact input#submit{float:left;margin:20px 0;}
.contact input[type="datetime-local"]{color:#A9A9A9;}
.contact input:not(#submit):focus{background:#fff;border:none;border-bottom:1px solid #666;}
.contact input:not(#submit):focus::-webkit-input-placeholder{color:transparent;}
.contact input:not(#submit):focus:-moz-placeholder{color:transparent;}
.contact input:not(#submit):focus::-moz-placeholder{color:transparent;}
.contact input:not(#submit):focus:-ms-input-placeholder{color:transparent;}
.dot::after{content:". ";position:relative;left:1px;font-size:1.4em;color:#000;font-weight:normal;}
.comma::after{content:", ";position:relative;left:1px;font-size:1.4em;color:#000;font-weight:normal;}
.questions .uk-accordion-title{text-transform:inherit;font-weight:500;font-size:1.188em;color:#1d1d1b;}
.questions .uk-accordion-content{margin-top:10px;margin-bottom:40px;padding-right:40px;}
.category .item{margin:10px 0;}
.children .child .portrait, .adult .entity .portrait{height:335px;}
.children .child .info, .adult .entity .info{position:relative;margin:-30px 2%;}
.global .area .box p, .local .area .box p{font-weight:500;}
.process h1{text-transform:inherit;padding:0;text-align:left;}
.process-line .item .item-container p, .process-line .item .item-container h2{margin:0;}
.process-line .item .item-container .content{margin-top:-20px;margin-bottom:40px;}
.process-line .item .item-container .content p{padding:20px 0;}
.process-line .item .item-container{border-left:3px solid #1d1d1b;text-align:left;padding-left:67px;}
.process-line .item .item-container hr{float:left;margin-left:-67px;width:60px;}
.process-line .item .item-container{margin-top:0;}
.process-line .item:nth-last-child(-n+2){display:none;}
