/* Fonts */

@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/Gotham Book.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/Gotham Rounded Light Italic.otf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/GOTHAM-BOLD.TTF');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/GothamBold Italic.otf');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/Gotham-Medium.otf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/Gotham Medium Italic.ttf');
  font-style: italic;
  font-weight: 500;
}


/* Base */

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  font-size: 1em;
  margin: 0;
  font-family: "Gotham", Georgia, serif;
  color: #1D1D1B;
}

h1, h2, h3 {
  font-family: 'Gotham';
  text-transform: uppercase;
}

h1 {
  font-size: 3.563em;
  font-style: normal;
  font-weight: bold;
}

h2 {
  font-size: 2.188em;
  font-style: normal;
  font-weight: bold;
}

h3 {
  font-size: 1.688em;
  font-style: italic;
  font-weight: bold;
}

p {
  font-size: 1.188em;
  font-weight: normal;
  line-height: 1.2;
}

a {
  font-family: 'Gotham' !important;
  font-size: 1.063em;
  font-style: normal;
  font-weight: 500;
  color: #1D1D1B;
}

b {
  font-size: 1.250rem;
  font-style: italic;
  font-weight: bold;
  color: inherit;
}

em {
  font-size: 1.188em;
  font-style: normal;
  font-weight: 500;
  color: inherit;
}

strong {
  font-style: normal;
  font-weight: 500;
}

span {
  font-size: 0.969em;
  font-style: normal;
  font-weight: bold;
  color: #fff;
}

div {
  display: block;
}

hr {
  border-top: 2px solid #1D1D1B;
}

blockquote p, blockquote footer {
  font-size: 1.188rem;
  font-style: italic;
  font-weight: 500;
  color: #000100;
}

blockquote footer {
  font-style: normal;
  font-weight: normal;
}

blockquote p::before {
  content: open-quote;
}

blockquote p::after {
  content: close-quote;
}


/* Container */

.important {
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
  font-size: 3em;
  padding: .5em 0;
}

.global, .main {
  position: relative;
  background: #fff;
}

.global {
  z-index: 11;
}

.main {
  z-index: 10;
}

.container-all {
  width: 100%;
  overflow: hidden;
}

.my-container {
  max-width: 76em;
  padding: 0 1.5em;
  margin: 0 auto;
}

.my-container.large {
  padding: 0;
  max-width: 84.375em
}

.my-container.left {
  padding-left: 11.875em;
}

@media (min-width: 640px) {
  .my-container {
    padding: 0 1.2em;
  }
}

@media (min-width: 960px) {
  .my-container {
    padding: 0 1.5em;
  }
}

@media (min-width: 1350px) {
  .my-container.heading {
    padding: 0;
    margin: 0;
  }
}


/* Utility */

.my-light {
  color: #fff;
  border-color: #fff;
}

.my-dark {
  color: #1d1d1b;
  border-color: #1d1d1b;
}

.break-small {
  float: left;
  margin-top: 0.625em;
  margin-left: -3.750em;
  width: 3.438em;
}

.break-large {
  float: left;
  margin-top: 2em;
  margin-left: -3.750em;
  width: 3.438em;
}

.my-button {
  font-weight: bold;
}

.my-button.vertical {
  position: relative;
  transform-origin: right;
  transform: rotate(-90deg);
  -ms-transform-origin: right;
  -webkit-transform-origin: right;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.blend {
  background-color: #bbbbbb;
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
}


/* Navbar */

.my-navbar {
  height: 11.500em;
}

.my-navbar-nav>li>a {
  font-style: normal;
  font-weight: 500;
  font-size: 1.063em;
  text-decoration: underline;
  color: #000100;
}


/* Hero */

.hero-cover {
  height: 34.688em;
}


/* Operations */

.operations-cover {
  background-image: url(../assets/img/how.jpg);
}

.operations h3, .operations-cover h3 {
  padding: 0 .2em;
}

.operations-cover h3 {
  color: #fff;
}

.operations .my-button {
  bottom: 9em;
  right: -2em;
}


/* Chart */

.chart p {
  font-weight: normal;
  font-size: 1.063em;
  left: -1em;
  transform-origin: left;
  transform: rotate(-90deg);
  -ms-transform-origin: left;
  -webkit-transform-origin: left;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.chart .legend {
  font-weight: normal;
  font-size: 1.063em;
  display: inline-block;
  vertical-align: middle;
}

.chart .legend li img {
  padding: .3em;
}

.chart .bars li {
  display: table-cell;
  width: 130px;
  height: 250px;
  text-align: center;
  position: relative;
  list-style: none;
  border-bottom: 4px solid #1D1D1B;
}

.chart .bars li .bar {
  display: block;
  width: 70px;
  margin-left: 30px;
  background: none;
  border: 4px solid #1D1D1B;
  border-bottom: 0;
  position: absolute;
  bottom: 0;
}

.bars span {
  font-weight: normal;
  font-size: 1.188em;
  color: #1D1D1B;
  width: 100%;
  position: absolute;
  bottom: -2.5em;
  left: 0;
  text-align: center;
}


/* Slider */

.my-slider div {
  padding: 0 .8em;
}

.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 1.25em;
  height: 1.25em;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

@media (min-width: 640px) {
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
    z-index: 1;
  }
}

@media (min-width: 960px) {
  .slick-next {
    right: -25px;
  }
  .slick-prev {
    left: -30px;
  }
}

.slick-next:before {
  content: url(../assets/img/icon/next.png);
}

.slick-prev:before {
  content: url(../assets/img/icon/previous.png);
}

.slick-prev:before, .slick-next:before {
  font-size: 2rem;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Sticker, Entrepreneurs*/

.sticker p, .sticker h2, .sticker .my-button, .sticker hr, .entrepreneurs hr, .entrepreneurs h2, .entrepreneurs p, .entrepreneurs a.my-button {
  color: #fff;
  border-color: #fff;
}

.entrepreneurs p {
  font-style: italic;
  font-weight: bold;
  font-size: 2.625em;
}

.entrepreneurs a.my-button {
  top: 5em;
}

.sticker .my-button {
  bottom: 8em;
}


/* Steps */

.steps-media {
  height: 22.313em;
}

.steps-info {
  padding: 0 2em;
}


/* Footer */

.footer {
  font-size: 1.063em;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  position: fixed;
  z-index: 0;
  height: 30em;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 1em;
  padding-top: 0;
  border: 0 solid #fff;
  border-top: 0;
  transition: border .4s ease, padding .4s ease;
}

.footer-spacer {
  position: relative;
  z-index: -11;
  height: 30em;
  pointer-events: none;
}

@media (min-width: 960px) {
  .footer {
    height: 40em;
  }
  .footer-spacer {
    height: 40em;
  }
}

.footer:hover {
  padding: 0;
  padding-top: 0;
  border: 1em solid #000;
  border-top: 0;
}

.footer .footer-content {
  position: fixed;
  z-index: 1;
  bottom: 13em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  transition: bottom .4s ease;
}

@media (min-width: 1350px) {
  .footer .footer-content {
    bottom: 17.5em;
  }
}

@media (min-width: 960px) {
  .footer .footer-content {
    bottom: 14.5em;
  }
}

@media (min-width: 640px) {
  .footer .footer-content {
    bottom: 13.5em;
  }
}

.footer .footer-secondary {
  position: fixed;
  z-index: 3;
  left: 0;
  bottom: 1.5em;
  width: 100%;
}

.footer .footer-secondary ul {
  margin: 0;
}

@media (min-width: 960px) {
  .footer .footer-secondary {
    bottom: 2em;
  }
  .footer-info {
    padding-left: 1.5em;
    float: left;
  }
  .footer-social {
    position: relative;
    float: right;
    padding-right: 1.5em;
    right: 0;
    bottom: 8.8em;
    height: 0;
  }
  .footer-social li {
    padding-top: .5em;
  }
}

.footer ul li a:hover {
  cursor: pointer;
}

.uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before {
  content: "|";
  display: inline-block;
  margin: 0 .8em;
  color: #1D1D1B;
}


/* Story */

.story p {
  font-weight: 400;
  font-style: italic;
}


/* Members */

.members h3 {
  font-size: 1.563em;
}

.member-portrait img:last-child {
  top: -2.2em;
  left: 16em;
}


/* Service */

.service-nav {
  padding: 0;
}

.service-nav li {
  list-style: none;
}

.service-nav li a {
  font-size: 3.563em;
  font-style: normal;
  font-weight: bold;
  line-height: 1.2;
  position: relative;
  display: inline-block;
}

.service-nav li a::before {
  content: '';
  border-bottom: .3rem solid;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 50%;
  transition: bottom 0.4s ease-in-out;
  -webkit-transition: bottom 0.4s ease-in-out;
}

.service-nav li.uk-active a::before, .service-nav li .uk-active a:hover, .service-nav li a:hover, .service-nav li a:hover::before {
  color: inherit;
  opacity: 0.8;
  bottom: 0;
  border-bottom: 0;
}


/* Fee */

.fee ol {
  counter-reset: item;
  padding: 0;
  margin-top: 0.313em;
}

.fee ol li {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 1.188em;
  list-style-type: decimal;
  list-style-position: inside;
  padding: .1em 0;
}

.fee ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  font-weight: bold;
  font-style: italic;
}


/* Wage */

.wage table th {
  font-style: normal;
  font-weight: 500;
  font-size: 1.188em;
  text-transform: none;
  color: #1D1D1B;
  vertical-align: top;
}

.wage table td {
  font-style: normal;
  font-weight: normal;
  font-size: 1.063em;
  color: #1D1D1B;
}

.wage table thead {
  border-bottom: 0.375em solid #1D1D1B;
}

.wage table thead th {
  border-right: 0.125em solid #1D1D1B;
}

.wage table thead th:nth-child(1) {
  border-right: 0.375em solid #1D1D1B;
}

.wage table tbody th {
  border-right: 0.375em solid #1D1D1B;
}

.wage table>:not(:first-child)>tr {
  border-bottom: 0.125em solid #1D1D1B;
}

.wage table th {
  border-right: 0.125em solid #1D1D1B;
}

.wage table td {
  border: 0.125em solid #1D1D1B;
}


/* Pie Charts */

.pie-vertical p {
  width: 30%;
  position: relative;
  float: left;
  top: -10px;
  left: 285px;
}

.pie-vertical h3 {
  position: relative;
  float: left;
  top: 0;
  left: 270px;
}

.contain-pie {
  height: 290px;
  position: relative;
  margin: 20px
}

.contain-pie:before {
  content: "";
  display: block;
  background-image: url(../assets/img/patterns/line-vertical.png);
  background-color: #fff;
  border: 1px solid #fff;
  position: absolute;
  border-radius: 50%;
  width: 290px;
  height: 290px;
  top: 0;
  left: 0;
}

.contain-piece:before {
  content: " ";
  position: absolute;
  width: 290px;
  height: 290px;
  border-radius: 145px;
  clip: rect(0px, 145px, 290px, 0px);
  background-color: #fff;
  transform: rotate(0deg);
}

.contain-piece {
  position: absolute;
  width: 290px;
  height: 290px;
  clip: rect(0px, 290px, 290px, 145px);
}

.piece.contain-piece {
  transform: rotate(315deg);
}

.piece:before {
  transform: rotate(0deg);
  animation: 2s spin2 linear 1s forwards;
}

@keyframes spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}


}

}
